{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static "css/index.css" %}">
        <link rel="shortcut icon" href="{% static "svg/icon.svg" %}" type="image/x-icon" />
        <title data-lang-pt="URLS DISPONIVEIS" data-lang-en="AVAILABLE URLS">
            URLS DISPONIVEIS
        </title>
    </head>
    <body>
        <nav class="container">
            <a href="/">API</a>
            <select name="choose" id="changeLanguage">
                <option
                    data-lang-pt="🇧🇷 Português"
                    data-lang-en="🇧🇷 Portuguese"
                    value="pt"
                >
                    🇧🇷 Português
                </option>
                <option
                    value="en"
                    data-lang-pt="🇺🇸 Inglês"
                    data-lang-en="🇺🇸 English"
                >
                    🇺🇸 Inglês
                </option>
            </select>
        </nav>
        <header>
            <div>
                <h1
                    class="title-principal"
                    data-lang-pt="API ENCOMENDAS"
                    data-lang-en="ORDERS API"
                >
                    API ENCOMENDAS
                </h1>
                <p
                    style="font-weight: 300"
                    data-lang-pt="API pública para o gerenciamento de encomendas"
                    data-lang-en="Public API for order management"
                >
                    API pública para o gerenciamento de encomendas
                </p>
            </div>
            <img
                class="img-principal"
                src="{% static "img/img-project.png" %}"
                alt="img-project"
            />
        </header>
        <main class="container">
            <div
                style="
                    padding: 20px 0 0 0;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                "
            >
                <h1
                    class="title-principal"
                    style="font-weight: 400"
                    data-lang-pt="Sobre a api"
                    data-lang-en="
                About the api"
                >
                    Sobre a api
                </h1>
                <p
                    class="p-big"
                    data-lang-en="A practical and efficient solution for managing customer orders automatically within a system. This API can be used to create, update, retrieve, and manage order information, offering flexibility for integration with various platforms, such as mobile applications, e-commerce systems, or administrative dashboards."
                    data-lang-pt="Uma solução prática e eficiente para gerenciar pedidos de
                clientes de forma automatizada em um sistema. Essa API pode
                ser usada para criar, atualizar, consultar e gerenciar
                informações sobre encomendas, oferecendo flexibilidade para
                integração com diferentes plataformas, como aplicativos
                móveis, sistemas de e-commerce ou dashboards
                administrativos."
                >
                    Uma solução prática e eficiente para gerenciar pedidos de
                    clientes de forma automatizada em um sistema. Essa API pode
                    ser usada para criar, atualizar, consultar e gerenciar
                    informações sobre encomendas, oferecendo flexibilidade para
                    integração com diferentes plataformas, como aplicativos
                    móveis, sistemas de e-commerce ou dashboards
                    administrativos.
                </p>
            </div>
            <article class="article">
                <div class="div-about">
                    <h2
                        data-lang-en="
                    API provides endpoints for"
                        data-lang-pt="API fornece endpoints para"
                    >
                        API fornece endpoints para
                    </h2>
                    <ul class="common-ul">
                        <li>
                            <strong
                                data-lang-pt="Criar encomendas:"
                                data-lang-en="Create orders:"
                                >Criar encomendas:</strong
                            >
                            <span
                                data-lang-en="Allows new orders to be registered with details such as customer, product, quantity, price, and status."
                                data-lang-pt="Permite que novos pedidos sejam registrados com
                            detalhes como cliente, produto, quantidade,
                            preço e status."
                            >
                                Permite que novos pedidos sejam registrados com
                                detalhes como cliente, produto, quantidade,
                                preço e status.
                            </span>
                        </li>
                        <li>
                            <strong
                                data-lang-en="Update status:"
                                data-lang-pt="Atualizar status:"
                                >Atualizar status:</strong
                            >
                            <span
                                data-lang-en='Provides the ability to change the order status, such as "Processing," "Shipped," or "Delivered.'
                                data-lang-pt='Oferece a possibilidade de alterar o status da
                                encomenda, como "Processando", "Enviado" ou
                                "Entregue".'
                            >
                                Oferece a possibilidade de alterar o status da
                                encomenda, como "Processando", "Enviado" ou
                                "Entregue".
                            </span>
                        </li>
                        <li>
                            <strong
                                data-lang-en="Retrieve orders:"
                                data-lang-pt="Consultar pedidos:"
                                >Consultar pedidos:</strong
                            >
                            <span
                                data-lang-pt="Retorna uma lista de encomendas com filtros
                            opcionais, como cliente, status ou período."
                                data-lang-en="Returns a list of orders with optional filters, such as customer, status, or date range."
                            >
                                Retorna uma lista de encomendas com filtros
                                opcionais, como cliente, status ou período.
                            </span>
                        </li>
                        <li>
                            <strong
                                data-lang-pt="Excluir ou cancelar encomendas:"
                                data-lang-en="Delete or cancel orders:"
                                >Excluir ou cancelar encomendas:</strong
                            >
                            <span
                                data-lang-pt="Gerencia cancelamentos ou exclusões de forma segura."
                                data-lang-en="Manages cancellations or deletions securely."
                                >Gerencia cancelamentos ou exclusões de forma
                                segura.</span
                            >
                        </li>
                    </ul>
                </div>
                <div>
                    <h2
                        data-lang-en="
                    How to use"
                        data-lang-pt="Como usar"
                    >
                        Como usar
                    </h2>
                    <ul class="common-ul">
                        <li>
                            <strong>GET /api/orders/ –</strong>
                            <span
                                data-lang-pt="Liste todas as
                            encomendas ou filtre por status, cliente, ou
                            intervalo de datas."
                                data-lang-en="
                                List all orders or filter by status, customer, or data range."
                            >
                                Liste todas as encomendas ou filtre por status,
                                cliente, ou intervalo de datas.</span
                            >
                        </li>
                        <li>
                            <strong>POST /api/orders/ –</strong>
                            <span
                                data-lang-pt="Crie uma nova
                            encomenda enviando os dados no corpo da requisição
                            (em JSON)."
                                data-lang-en="Create a new
                                order by sending the data in the body of the request
                                (in JSON)."
                            >
                                Crie uma nova encomenda enviando os dados no
                                corpo da requisição (em JSON).</span
                            >
                        </li>
                        <li>
                            <strong>PUT /api/order/{id}/ –</strong>
                            <span
                                data-lang-pt="Atualize os detalhes ou o status de uma encomenda existente."
                                data-lang-en="Update the details or status of an existing order."
                            >
                                Atualize os detalhes ou o status de uma
                                encomenda existente.
                            </span>
                        </li>
                        <li>
                            <strong>DELETE /api/order/{id}/ –</strong>
                            <span
                                data-lang-pt="Exclua ou cancele uma encomenda específica."
                                data-lang-en="Delete or cancel a specific order."
                            >
                                Exclua ou cancele uma encomenda específica.
                            </span>
                        </li>
                    </ul>
                </div>
            </article>
            <h1
                data-lang-en="
            SERVICES AVAILABLE API"
                data-lang-pt="SERVIÇOS DISPONIVEIS API"
            >
                SERVIÇOS DISPONIVEIS API
            </h1>
            <ul class="special-a">
                <li>
                    <span data-lang-pt="Encomendas:" data-lang-en="Orders:"
                        >Encomendas:</span
                    >
                    <div
                        onclick='copy("{{request.scheme}}://{{request.get_host}}/api/orders")'
                    >
                        <span>GET</span>
                        {{request.scheme}}://{{request.get_host}}/api/orders
                    </div>
                </li>
                <li>
                    <span data-lang-pt="Encomenda especifica:" data-lang-en="Specific order:"
                        >Encomenda especifica:</span
                    >
                    <div
                        onclick='copy("{{request.scheme}}://{{request.get_host}}/api/orders/{id}")'
                    >
                        <span>GET</span>
                        {{request.scheme}}://{{request.get_host}}/api/orders/{id}
                    </div>
                </li>
                <li>
                    <span
                        data-lang-pt="Limite encomendas:"
                        data-lang-en="Order limit:"
                        >Limite encomendas:</span
                    >
                    <div
                        onclick='copy("{{request.scheme}}://{{request.get_host}}/api/orders/?q={number}")'
                    >
                        <span>GET</span>
                        {{request.scheme}}://{{request.get_host}}/api/orders/?q={number}
                    </div>
                </li>
                <li>
                    <span
                        data-lang-pt="Filtrar encomendas:"
                        data-lang-en="Order filter:"
                        >Filtrar encomendas:</span
                    >
                    <div
                        onclick='copy("{{request.scheme}}://{{request.get_host}}/api/orders/filter")'
                    >
                        <span>GET</span>
                        {{request.scheme}}://{{request.get_host}}/api/orders/filter?{filter}
                    </div>
                </li>
            </ul>
            <hr />
            <h1
                data-lang-en="MANAGE AVAILABLE API URLS"
                data-lang-pt="GERENCIAR URLS DISPONIVEIS API"
            >
                GERENCIAR URLS DISPONIVEIS API
            </h1>
            <ul class="special-a">
                <li>
                    <span
                        data-lang-pt="Adicionar encomenda:"
                        data-lang-en="Add order:"
                        >Adicionar encomenda:</span
                    >
                    <div
                        onclick='copy("{{request.scheme}}://{{request.get_host}}/api/orders")'
                    >
                        <span style="background-color: #B8860B"
                            >POST</span
                        >
                        {{request.scheme}}://{{request.get_host}}/api/orders
                    </div>
                </li>
                <li>
                    <span
                        data-lang-en="Update order:"
                        data-lang-pt="Update encomenda:"
                        >Update encomenda:</span
                    >
                    <div
                        onclick='copy("{{request.scheme}}://{{request.get_host}}/api/order/{id}")'
                    >
                        <span style="background-color: #003366"
                            >PUT</span
                        >
                        {{request.scheme}}://{{request.get_host}}/api/order/{id}
                    </div>
                </li>
                <li>
                    <span
                        data-lang-pt="Excluir encomenda:"
                        data-lang-en="Delete order"
                        >Excluir encomenda:</span
                    >
                    <div
                        onclick='copy("{{request.scheme}}://{{request.get_host}}/api/order/{id}")'
                    >
                        <span style="background-color: #D32F2F">DELETE</span>
                        {{request.scheme}}://{{request.get_host}}/api/order/{id}
                    </div>
                </li>
            </ul>
        </main>
        <footer class="container" style="height: 200px">
            <div class="footer-div">
                <div>
                    <img src="{% static "svg/icon.svg" %}" alt="img-logo" width="80" />
                </div>
                <h1 data-lang-en="API Docs" data-lang-pt="Documentação API">
                    Documentação API
                </h1>
            </div>
        </footer>
        <div
            class="hidde-float hidden"
            id="hiddeText"
            data-lang-pt="texto copiado com sucesso!"
            data-lang-en="text copied successfully!"
        >
            texto copiado com sucesso!
        </div>
        <script src="{% static "js/index.js" %}"></script>
    </body>
</html>
